{% extends 'pruebas/base_usuario.html.twig' %}

{% block centro %}

    <div id="inventario">
        <h3>INVENTARIO</h3>
        <p>CAPACITY: {{ inventory.currentCapacity }}/{{ inventory.maxCapacity }}</p>
        <nav>
            <ul>
                <li class="letra_equipo">ITEM</li>
                <li class="letra_equipo">ITEM</li>
                <li class="letra_equipo">ITEM</li>
                <li class="letra_equipo">ITEM</li>
            </ul>
        </nav>


        <div class="tabla_detalles">
        </div>

    </div>



{%   set clr_main_claro = "#222222" %}
    <style>

        #inventario > nav > ul{
            background-color: var(--color-neon);
            display: flex;
            text-align: center;
        }

        #inventario > nav >ul {
            margin: auto auto;
            border-bottom: 2px inset var(--color-borde-azul);
        }

        #inventario > nav > ul > li {
            padding: 0.5em 1em;
            margin: 0 auto;

        }
        
        #inventario > nav > ul > li:hover {
            cursor: pointer;
        }
        #tablas_stats{
            margin:2.5em 1em 0.5em;
            width: 30%;
        }
        .tabla_equipo{
            width:100%;
            display:inline-block;
            border-top: 1px outset var(--color-borde-rosa);
            border-bottom: 1px inset var(--color-borde-rosa);
            border-left:1px outset var(--color-borde-rosa);
            border-right:1px inset var(--color-borde-rosa);
            margin-top:0.3em;
        }
        .tabla_equipo:hover{
            background-color: var(--color-green-soft);

        }
        .letra_top{
            font-family: MatrixBook;
            font-weight: bolder;
            color: var(--color-neon);
        }
        .letra_sub{
            font-weight: bold;
            font-family: candara;
            font-style: italic;
            color: var(--color-borde-azul);
        }
        .letra_lvl{
            font-family: MatrixBoldSmallCaps;
            color:  var(--color-borde-azul);
        }
        .letra_equipo{

            font-family: MatrixBook;
            font-weight: bolder;
            color: var(--color-borde-rosa);
        }
        .letra_equipo_sub{

            font-family: MatrixBook;
            font-weight: lighter;
            color: var(--color-borde-azul);
        }
        .nombre_arma{
            margin-left:20%;
            font-family:ModMatrix;
            color: var(--color-borde-rosa);
        }
        .letra_stat{
            margin-left: 20%;
            font-family: ModMatrix;
            color: var(--color-neon);
        }
        .titulo_equipo{
            border-bottom: 0.5px solid var(--color-borde-azul);
        }
        .tabla_detalles{
            position:fixed;
            left: 55%;
            width: 35%;
        }
        {#.resaltado{#}
            {#background-color:{{ clr_hover }};#}
        {#}#}
    </style>

{% endblock %}

