{% extends 'layout_ingame.html.twig' %}

{% block navegacion %}
    {% if is_granted('ROLE_PLAYER')  %}
        <a href="{{ path('crear_pesonaje') }}">START</a>
    {% else %}

    <a href="{{ path('usuario_login') }}">Identifícate</a>
    <a href="{{ path('crear_usuario')}}">Registro</a>
    {% endif %}
{% endblock %}
{% block centro %}
    <h1>PORTADA</h1>
{% endblock %}
{% block stylesheets %}
{% endblock %}
