#inventario{
    text-align: left;
}
#inventario > h3, #inventario > p {
    text-align: center;
}

#inventario > nav > ul{
    background-color: var(--color-neon);
    display: flex;
    text-align: center;
}

#inventario > nav >ul {
    margin: auto auto;
    border-bottom: 2px inset var(--color-borde-azul);
    border-top: 2px outset var(--color-borde-azul);
}

#inventario > nav > ul > li {
    padding: 0.5em 1em;
    margin: 0 auto;

}

#inventario > nav > ul > li:hover {
    /*cursor: pointer;*/
}

.inventario_seccion{
    position:relative;
    left: 0;
    top: 0;
    display:block;
}

.tabla_oculta{
    display: none;
}


.tabla_items{
    position: absolute;
    top:2em;
    left: 2em;
    width: 45%;
}
#inventario .tabla_detalles{
    position:relative;
    left: 55%;
    top: 2em;
    width: 40%;
    height: 50vh;
    border:2px solid var(--color-neon);
    background-color: var(--bg-color-test1);

}

.item_td{
    margin-top: 0.5em;
    color:white;
    padding:0.2em 0.5em;
}

.item_td:last-child{

    padding-right: 0;
}


.inventario_item{

    border: 4px solid var(--color-borde-rosa);
}
.arma_nombre{
    border-top: 2px solid var(--color-borde-rosa);
    border-bottom: 2px solid var(--color-borde-rosa);
    border-left: 2px solid var(--color-borde-rosa);
}
.arma_daño{
    border-top: 2px solid var(--color-borde-rosa);
    border-bottom: 2px solid var(--color-borde-rosa);
}
.arma_valor{
    border-top: 2px solid var(--color-borde-rosa);
    border-bottom: 2px solid var(--color-borde-rosa);
    border-right: 2px solid var(--color-borde-rosa);
}

.equipado{
    position:relative;
    border-top: 2px solid var(--color-borde-rosa);
    border-bottom: 2px solid var(--color-borde-rosa);
    color:var(--color-green-soft);
    text-align: center;
    left: -14.6%;
    margin: 0;

}

.btn_equip {
    position:relative;
    border-top: 2px solid var(--color-borde-rosa);
    border-bottom: 2px solid var(--color-borde-rosa);
    color:var(--color-green-soft);
    text-align: center;
    left: -14.6%;
    margin: 0;
    width: 1em;
}

#tablas_stats{
    margin:2.5em 1em 0.5em;
    width: 30%;
}
.tabla_equipo{
    width:100%;
    display:inline-block;
    border-top: 1px outset var(--color-borde-rosa);
    border-bottom: 1px inset var(--color-borde-rosa);
    border-left:1px outset var(--color-borde-rosa);
    border-right:1px inset var(--color-borde-rosa);
    margin-top:0.3em;
}
.tabla_equipo:hover{
    background-color: var(--color-green-soft);

}
.letra_top{
    font-family: MatrixBook;
    font-weight: bolder;
    color: var(--color-neon);
}
.letra_sub{
    font-weight: bold;
    font-family: candara;
    font-style: italic;
    color: var(--color-borde-azul);
}
.letra_lvl{
    font-family: MatrixBoldSmallCaps;
    color:  var(--color-borde-azul);
}
.letra_equipo{

    font-family: MatrixBook;
    font-weight: bolder;
    color: var(--color-borde-rosa);
}
.letra_equipo_sub{

    font-family: MatrixBook;
    font-weight: lighter;
    color: var(--color-borde-azul);
}
.nombre_arma{
    margin-left:20%;
    font-family:ModMatrix;
    color: var(--color-borde-rosa);
}
.letra_stat{
    margin-left: 20%;
    font-family: ModMatrix;
    color: var(--color-neon);
}
.titulo_equipo{
    border-bottom: 0.5px solid var(--color-borde-azul);
}
