/*IMPORTS*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import "inventario.css";
@import "base_usuario.css";
@import "login.css";

/* /////////////////////////////////////////////////////////////////// */
/*ESTILOS GENERALES*/

* {
  /*font-family: 'Roboto', 'IBM Plex Sans', 'Krona One';*/
  list-style-type: none !important;
  cursor: url("../recursos/cursor.ico"), auto;

  /*COLORES*/
  --bg-color-azul-oscuro: rgba(15,15,60,0.8);
  --bg-color-test1: rgba(40,60,60,0.6);
  --bg-color-test2: #a023a3;
  --color-bg-izq: rgba(10,10,10,0.6);
  --color-borde-rosa: #ec008c;
  --color-borde-azul: #007bff;
  --color-neon: #70ffff;

  --color-green-soft: #0fe87f;


  /*MEDIDAS*/
  --header_down_line: 8em;
  --size-screen-width: 900px;
  --size-screen-heigth: 600px;
}
a, a:hover { text-decoration: none; text-underline: none; font-family: "IBM Plex Sans", linkMacSystemFont, San Francisco, Roboto, Helvetica Neue, Segoe UI, sans-serif; font-weight: bold;}


/*************************************************************************/
/************************************************************************/
/*MIS CLASES*/


/* Letras */
.neon {
  color: rgba(255, 255, 255, 0);
  text-shadow: 0 0 2px #ffffff, 0 0 15px #70ffff, 0 0 20px #46fdff, 0 0 40px #46fdff;
}
.neon:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #e3e98e, 0 0 70px #e3e98e, 0 0 90px #e3e98e;
}


.retro {
  color: #facd94;
  text-shadow: 2px 2px 0 #333333, 4px 4px 0 #868686;
}

.golden {
  background: -webkit-linear-gradient(top, #f9d400 15%, #f89b00 35%, #f9d400 70%);
  /* Chrome10+,Safari5.1+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letra_listas{
  color:#17a2b8;
}
.letra_listas:hover{
  color:#f5286d;
}
.letra_listas_cabecera{
  color:#007bff;
}

/***************************************/
/*HEADER*/

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/f2/9a/b0/f29ab011b0b93d3da2c866b921431611.jpg);
  background-size: cover;
  text-align: center;
  padding:0px;
  margin:0px;
  overflow: hidden;
  min-width: var(--size-screen-width);
  min-height: var(--size-screen-heigth);

  /*-webkit-filter: hue-rotate(45deg);*/
  /*filter: hue-rotate(95deg);*/

}
#layout_header{
  position:fixed;
  width: 100%;
  top:0;
}

.hd_topbar {
  width:100%;
}

.hd_in {
  height:80px;
  background: rgba(11,11,11,.9);
}

.hd_inimg {
  width: 145px;
  height: 145px;
  background-image: url(https://i.pinimg.com/736x/7f/29/dc/7f29dc0661b929af5b56391bb6f8b405--cyberpunk-girl-cyberpunk-clothes.jpg);
  background-size: cover;
  border-radius: 100%;
  border: 20px solid #0d0d0d;
  position:relative;
  z-index: 1;
  top:15px;
  left: 25px;
}

.hd_icono {
  text-align: center;
  color: white;
  background: #0d0d0d;
  width: 40px;
  height:40px;
  border-radius: 100%;
  border: 10px solid #0d0d0d;
  float:left;

  position: absolute;
  z-index: 2;
  background-size: cover;
}
.hd_icono:hover{
  /*cursor: pointer;*/
}

.icono_mapa{
  left: 165px;
  top: 125px;
}

.icono_perfil{
  left: 30px;
  top: 150px;
}

.hd_quick {
  height:30px;
  width: auto;
  line-height: 30px;
  padding: 5px;
  background-color: #0d0d0d;
  text-align: center;
}

.hd_nickname {
  font: 500 50px 'rubik mono one';
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: left;
  top: 5px;
  left: 200px;
  margin: auto;
  position: absolute;
  color: #0b0b0b;
  padding: 20px;
  text-shadow: -1px 1px #ec008c, -2px 0px #ec008c, 1px 1px #0fe87f, 2px 2px #00daff;
  width: 970px;
  line-height: 100%;
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -o-transition: .5s linear;
  -ms-transition: .5s linear;
}

.hd_nickname a {
  /*cursor: default;*/
  text-decoration: none;
  color: #0b0b0b;
}

.hd_quick a {
  text-decoration: none;
  color: #888;
  font: 400 10px/100% play, sans-serif;
  text-transform:uppercase;
}

.controlpanel {
  /*cursor: default;*/
  float: left;
  position: relative;
  left: 240px;
  z-index: 1;
  /*width: 100%;*/
  overflow: hidden;
  font: 400 10px/200% play;
  text-transform: uppercase;
  padding-left: 5px;
  padding-top: 5px;
  letter-spacing: 2px;
  text-align: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  color: #888;
}


.controlpanel a {
  color:#fff!important;
  display:block!important;
  height:25px!important;
  line-height:28px!important;
}

/*esto no se si está funcionando*/
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background-color: #aaa; border: 3px solid black; }

#s-m-t-tooltip{
  /* basic */
  max-width:300px;
  z-index:10;
  margin:24px 14px 7px 12px;
  /* style and design */
  padding:8px;
  background: #000714; /* fallback if rgba not supported */
  background: rgba(0,7,20,0.75);
  /* font */
  font-family: "Roboto Mono";
  font-size:9px;
  line-height:13px;
  color:#bbb;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}



