/*IMPORTS*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Krona+One');

/*FIN IMPORTS */
/* /////////////////////////////////////////////////////////////////// */
/*ESTILOS GENERALES*/

*{
  /*font-family: 'Roboto', 'IBM Plex Sans', 'Krona One';*/
  list-style-type: none !important;
  color: white;
}
a, a:hover { text-decoration: none; text-underline: none; font-family: "IBM Plex Sans", linkMacSystemFont, San Francisco, Roboto, Helvetica Neue, Segoe UI, sans-serif; font-weight: bold;}

/*a { color: chartreuse; transition: all ease 0.5s; -moz-transition: all ease 0.5s; }*/

.form-control option{
  color:black;
}

/*FIN ESTILOS GENERALES*/
/*///////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/*MIS CLASES*/


/* Letras */


.neon {
  color: rgba(255, 255, 255, 0);
  text-shadow: 0 0 2px #ffffff, 0 0 15px #70ffff, 0 0 20px #46fdff, 0 0 40px #46fdff;
}
.neon:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px #e3e98e, 0 0 70px #e3e98e, 0 0 90px #e3e98e;
}


.retro {
  color: #facd94;
  text-shadow: 2px 2px 0 #333333, 4px 4px 0 #868686;
}

.golden {
  background: -webkit-linear-gradient(top, #f9d400 15%, #f89b00 35%, #f9d400 70%);
  /* Chrome10+,Safari5.1+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* FIN LETRAS */

.panel_fondo_transparente{
  background-color: rgba(3,3,3,0.9);
  border: 1vw outset #17a2b8;
}

#cont_tabla_cartas{
  display: table-cell;
  width:70%;
}

.tabla_cartas{
  display: block;
  max-width: 65%;
  margin: auto;
}
#cont_lista_decks{
  /*background-color: rgba(200,200,200,0.2);*/
  flex-direction: column;
  display:table-cell;
}

.lista_decks{
  margin-top: 0;
}

/*<li> */
.deck{
  padding-bottom: 4vh;
}


.carta_activa{-webkit-filter:grayscale(0);filter:grayscale(0); }
.carta_inactiva{-webkit-filter:grayscale(100%);filter:grayscale(100%);cursor:default; }

.img_carta_lista{transition:1.2s;  -webkit-filter:grayscale(95%);filter:grayscale(95%);padding:0.2em}
.img_carta_lista:hover{-webkit-filter:grayscale(0);filter:grayscale(0);cursor:pointer}



.letra_listas{
  color:#17a2b8;
}
.letra_listas:hover{
  color:#f5286d;
}
.letra_listas_cabecera{
  color:#007bff;
}


/*FIN MIS CLASES*/
/*///////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* COMBATE */
#cont_juego{
  margin-top:-5.5%;
  align-content: center;
  width: 100%;
  height: 100%;
  position:center;
}

#centro_batalla{
  min-height: 7vw;
  background-color: rgba(100,100,100,0.4);
  display: block;
  width: 100vw;
  border: 1px solid darkcyan;

}

.div_cartas {
  display: flex;
  margin: auto;
  background-color: rgba(20, 20, 20, 1);
  width: 100vw;
}
.carta_batalla{
  border:2px solid white;
}
.img_carta_batalla{
  display: block;
  width: 180px;
  height: 180px;
  padding: 10px;
  border-bottom:2px solid white;
  cursor:pointer;
}
.carta_jugador:hover{

  background-color: darkcyan;
}
.skills{
  display: flex;
}
.txt_carta_batalla{
  flex-basis: 25%;
  text-align: center;
  border: 1px solid darkcyan;
}

#jugador{
      position: absolute;
  bottom: 0;
  margin: auto;
}
#oponente{
  /*    position: absolute;*/
  top: 0px;
  margin: auto;
}
.seleccionada{
  background-color: darkcyan;
}
.noSeleccionada{
  background-color: black;
}
/* FIN COMBATE */
/*///////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/*FORM LOGIN CYBERPUNK */

body {
  font-family: "IBM Plex Sans", linkMacSystemFont, San Francisco, Roboto, Helvetica Neue, Segoe UI, sans-serif;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-x:hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor_form_login_cp {
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://res.cloudinary.com/dokf7npvg/image/upload/v1540355245/0jbUKoX.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 30px;
  margin-left: -8%;
  margin-top: -5%;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;

}
.contenedor_form_login_cp:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.4);
}

@keyframes form-open {
  0% {
    clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
  }
  50% {
    clip-path: polygon(0 20px, 20px 0, 20px 0, 20px calc(100% - 20px), 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(-16px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.form_login_cp {
  display: grid;
  grid-gap: 36px;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  overflow: hidden;
  clip-path: polygon(0 20px, 20px 0, 20px 0, 20px 0, 0 20px, 0 20px);
  animation: form-open 1s cubic-bezier(0.4, 0, 0.2, 1) forwards 0.5s;
}
.form_login_cp > * {
  position: relative;
  opacity: 0;
  animation: fade-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.form_login_cp > *:nth-child(2) {
  animation-delay: 1.2s;
}
.form_login_cp > *:nth-child(3) {
  animation-delay: 1.3s;
}
.form_login_cp > *:nth-child(4) {
  animation-delay: 1.4s;
}
.form_login_cp > *:nth-child(5) {
  animation-delay: 1.5s;
}
.form_login_cp > *:nth-child(6) {
  animation-delay: 1.6s;
}

.form_image_login_cp {
  position: absolute;
  animation: none;
  opacity: 1;
  filter: blur(16px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url("https://res.cloudinary.com/dokf7npvg/image/upload/v1540355245/0jbUKoX.jpg");
  background-position: center;
  background-size: cover;
}

.form_logo_login_cp {
  width: 80%;
  height: auto;
  justify-self: center;
}

.input_login_cp {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input_element_cp {
  border: 0;
  margin: 0;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3);
  height: 46px;
  transition: box-shadow 0.4s ease;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
}
.input_element_cp:focus {
  box-shadow: inset 0 -2px 0 0 rgba(144,14,50,0.8);
  outline: none;
}

.input_label_cp {
  font-size: 16px;
  position: absolute;
  left: 10px;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.input_element_cp:focus + .input__label,
.input_element_cp:not(:placeholder-shown) + .input_label_cp {
  top: -16px;
  left: 0;
  font-size: 14px;
  transform: translate3d(0, -5px, 0);
}

.button_cp {
  background: rgba(144,14,50,0.8);
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  text-transform: uppercase;
  text-align: left;
  padding: 0 20px;
  cursor: pointer;
}
.button_cp:focus {
  outline: none;
}
.button_cp:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #22edfc;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.button_cp:hover:before, .button:focus:before {
  transform-origin: left center;
  transform: scaleX(1);
}

.button_cp:hover .button_icon_cp,
.button_cp:focus .button_icon_cp {
  transform: translate3d(10px, -50%, 0);
}

.button_label_cp {
  position: relative;
}

.button_icon_cp {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 25px;
  width: 24px;
  height: 24px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.button_icon_cp:before {
  content: "";
  height: 1px;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: 12px;
}
.button_icon_cp:after {
  content: "";
  transform: rotate(45deg);
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  top: 8px;
}

/* FIN FORM LOGIN CYBERPUNK*/
/*///////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/* INTERFAZ USUARIO*/
#menu_jugador{

  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

#menu_tienda{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

}


.menu_jugador_opcion{
  flex-basis: 30%;
  /*background: url(http://78.media.tumblr.com/1704bfe2f37d151ecb62a30b714f1b8a/tumblr_o0i7d582pQ1rnbw6mo1_540.gif);*/
  /*background-size: 10vw;*/
  height: 10vh;

}


.elemento_menu_tienda{
  flex-basis: 40%;
  height: 10vh;
  max-width: 30vw;
  background-color: rgba(10,10,10,0.5);
  text-align: center;
}
/*INTERFAZ V2 (menu)*/



.menu_wrapper {
  padding: 1em;
  perspective: 500px;
}
.menu_interfaz {
  width: 230px;
  max-width: 360px;
  margin: 0 auto;
  transform-style: preserve-3d;
  /*transform: rotateY(20deg) rotateX(36deg) rotateZ(-6deg);*/
  transition: transform 1s;
  position:fixed;
  left:0;
}
.menu_interfaz > ul {
  list-style: none;
  padding: 1em;
  /*transform: translateZ(-100px);*/
  /*transform-style: preserve-3d;*/
  transition: all 0.2s;
}
.menu_interfaz > ul > li {
  margin: 0 0 0.5em 0;
  position: relative;
  color: #222222;
  font-family:"Oswald", "Arial Narrow", sans-serif;
  transition: all 0.2s;
  /*transform-style: preserve-3d;*/
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  background-color: rgba(144,14,50,1);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFAC05', endColorstr='#FFD96404');
  background-image: -moz-linear-gradient(top,rgba(144,14,50,0.4) 0%, rgba(144,14,80,0.8) 100%);
  background-image: -o-linear-gradient(top,rgba(144,14,50,0.4) 0%, rgba(144,14,80,0.8) 100%);
  background-image: -webkit-linear-gradient(top,rgba(144,14,50,0.4) 0%, rgba(144,14,80,0.8) 100%);
  background-image: linear-gradient(top,rgba(144,14,50,0.4) 0%, rgba(144,14,80,0.8) 100%);
}
.menu_interfaz > ul > li:hover {
  background: darkcyan;
  transform: translateZ(16px) rotateY(4deg);
}
.menu_interfaz > ul > li:hover a {
  color: #222222;
}
.menu_interfaz > ul > li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateZ(60px) rotateY(-25deg);
}
.menu_interfaz > ul > li:hover ul li {
  margin-left: 0.325em;
  transition: all 0.4s;
}
.menu_interfaz > ul > li a {
  display: block;
  padding: 0.5em;
  min-height: 2.5em;
  line-height: 2.5em;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: all 0.2s;
}
.menu_interfaz > ul > li a:hover {
  color: #222222;
}
.menu_interfaz > ul > li ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 83%;
  top: 0;
  padding-left: 2em;
  min-width: 300px;
  transition: all 0.2s;
  transform: translateZ(-2px) rotateY(-5deg);
}
.menu_interfaz > ul > li ul li {
  display: inline-block;
  width: 45%;
  margin: 0 0 0.325em -3em;
  background: #1f1f1f;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  transform-style: preserve-3d;
}
.menu_interfaz > ul > li ul li a {
  color: black;
  font-size: 1.325em;
  line-height: 120%;
  background: darkcyan;
  border-radius: 6px;
}
.menu_interfaz > ul > li ul li a:hover {
  background: rgba(144,14,50,1);
}
.menu_interfaz > ul > li ul div {
  font-family:"Source Sans Pro", sans-serif;
  color: white;
}


/*FIN INTERFAZ V2(menu)*/
/*FIN INTERFAZ USUARIO*/
/*PORTADA*/


.banner {
  margin: auto;
  padding: 14vmin;
  border-radius: 4vmin;
  position: relative;
  text-align: center;
}
.banner:after, .banner:before {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  content: "";
  opacity: 0.5;
  animation-name: opacity;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  border: 1vmin dotted;
  border-radius: 4vmin;
}
.banner:after {
  border-color: #f5286d;
  box-shadow: 0 0 5px #f5286d, 0 0 6px #f5286d, 0 0 9px #f5286d, 0 0 15px #f5286d, 0 0 25px #f5286d, 0 0 35px #f5286d, 0 0 75px #f5286d, 0 0 100px #f5286d;
}
.banner:before {
  border-color: #52a7f7;
  animation-delay: 4s;
  box-shadow: 0 0 5px #52a7f7, 0 0 6px #52a7f7, 0 0 9px #52a7f7, 0 0 15px #52a7f7, 0 0 25px #52a7f7, 0 0 35px #52a7f7, 0 0 75px #52a7f7, 0 0 100px #52a7f7;
}

.neon_portada {
  font-size: 10vmin;
  font-family: monospace;
}
.neon--blue {
  color: #52a7f7;
  margin-bottom: 2vmin;
  text-shadow: 0 0 5px #52a7f7, 0 0 6px #52a7f7, 0 0 9px #52a7f7, 0 0 15px #52a7f7, 0 0 25px #52a7f7, 0 0 35px #52a7f7, 0 0 75px #52a7f7, 0 0 100px #52a7f7;
}
.neon--pink {
  color: #f5286d;
  text-shadow: 0 0 5px #f5286d, 0 0 6px #f5286d, 0 0 9px #f5286d, 0 0 15px #f5286d, 0 0 25px #f5286d, 0 0 35px #f5286d, 0 0 75px #f5286d, 0 0 100px #f5286d;
  font-size:0.95em;
}
.neon--pink2 {
  color: #f5286d;
  text-shadow: 0 0 5px #f5286d, 0 0 6px #f5286d, 0 0 9px #f5286d, 0 0 15px #f5286d, 0 0 25px #f5286d, 0 0 35px #f5286d, 0 0 75px #f5286d, 0 0 100px #f5286d;
  font-size:2em;
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*FIN PORTADA*/

/*///////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////*/
/*colores de TODOS enlaces de arriba*/


/*esto no se si está funcionando*/
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background-color: #aaa; border: 3px solid black; }

#s-m-t-tooltip{
  /* basic */
  max-width:300px;
  z-index:10;
  margin:24px 14px 7px 12px;
  /* style and design */
  padding:8px;
  background: #000714; /* fallback if rgba not supported */
  background: rgba(0,7,20,0.75);
  /* font */
  font-family: "Roboto Mono";
  font-size:9px;
  line-height:13px;
  color:#bbb;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}





/*////////////////////////////////////////////////////////////////////*/
/*CSS AUXILIAR*/

/*primer bloque de contenido*/
/*#cyberpunk {*/
/*  display: table-cell;*/
/*  width: 250px; height: 250px;*/
/*  background: url(http://78.media.tumblr.com/1704bfe2f37d151ecb62a30b714f1b8a/tumblr_o0i7d582pQ1rnbw6mo1_540.gif) center bottom;*/
/*  background-size: 400px;*/
/*}*/
/*#cont_title{*/
/*  background:rgba(2,11,28,0.5);*/
/*  width: 250px; height: 250px;*/
/*  padding: 50px;*/
/*}*/
/*#cont_title_inner{*/
/*  display: table-cell;*/
/*  height: 246px; width: 250px;*/
/*  font-family: "Roboto Mono", sans-serif; font-size: 6pt; color: #f3f3f3;*/
/*  text-align: center; vertical-align: middle;*/
/*  letter-spacing: 3px;*/
/*  background: rgba(30,34,44,0.65);*/
/*  border: 2px solid #f3f3f3;*/
/*}*/
/*#cont_title_inner h1 {*/
/*  text-transform: uppercase;*/
/*  font-size: 30pt; font-weight: 700; font-style: italic; color: #4f6a7d;*/
/*  letter-spacing: 0px;*/
/*  margin: 0; padding: 0;*/
/*}*/


/*!*2º bloque de contenido*!*/
/*#replicant { display: table-cell; vertical-align: middle; background: rgba(12, 15, 22,0.75); padding: 30px; }*/

/*.synopsis { width: 220px; height: 120px; overflow-y: scroll; background-color: #171a21; border: 20px solid #171a21; font-family: "Roboto Mono"; color: #bbb; font-size: 7pt; padding-right: 10px; }*/
/*.synopsis p { padding: 0; margin: 0; text-align: justify; line-height: 150%; }*/
/*.synopsis p b { text-transform: uppercase; color: #4f6a7d; letter-spacing: 1px; }*/

/*.weather { margin-top: 20px; width: 230px; border: 20px solid #171a21; background: url(https://78.media.tumblr.com/e5352f3a3e22d36e9d359320f1bc97a8/tumblr_mwjmcxUEoh1qztgoio1_500.gif) center; background-size: 280px; height: 60px; overflow: hidden; }*/
/*.weather-screen { background:rgba(30,34,44,0.75); height: 60px; }*/
/*.weather-screen b { font-family: "a-otf-midashi-mi-ma31-pr6n"; color: red; font-size: 47pt; line-height: 70px; font-weight: bold; letter-spacing: -3px; opacity:0.55;-moz-opacity:0.55; }*/
/*.weather-tag { font-family: "Roboto Mono"; font-size:6pt; color: #f3f3f3; font-weight: 600; letter-spacing: 3px; position: relative; display: block; float: right; top: -40px; right: 10px; }*/
/*.weather-tag b { font-size: 12pt; line-height: 12pt; color: #fff; letter-spacing: 1px; font-weight: 400; margin-left: -1px; }*/

/*!* 3er bloque de contenido*!*/
/*#automata { display: table-cell; vertical-align: middle; background: rgba(255,255,255,0); padding: 30px; width: 260px; }*/

/*.staff { display: block; text-align: center; }*/
/*.staff-ic-frame { border: 2px solid #242935; padding: 4px; width: 45px; height: 45px; display: inline-block; margin-right: 5px;*/
/*  background: rgba(22,43,79,0.5); transition: all ease 1s;*/
/*}*/
/*.staff-ic-frame:last-child { margin-right: 0px; }*/
/*.staff-icon { font-family: "a-otf-midashi-mi-ma31-pr6n"; width: 45px; height: 45px; background: #0d0f15; background-size: 45px 45px; color: #fff; font-size: 15pt; line-height: 45px; text-shadow: 0px 0px 7px black; transition: all ease 0.5s; -moz-transition: all ease 0.3s; font-weight: bold; }*/
/*.staff-icon:hover{background: rgba(22,43,79,0.05);}*/
/*!* .staff-icon:hover { text-shadow: 0px 0px 0px transparent; color: rgba(255,255,255,0); opacity: 0.35; -moz-opacity: 0.35; } *!*/

/*.ratio { width: 260px; margin: 20px 0px; transition: all ease 1s; -moz-transition: all ease 1s; }*/
/*.ratio h1 { font-family: "Roboto Mono"; color: #f3f3f3; margin: 0; padding: 0; text-transform: lowercase; border: 2px solid #bbb; font-weight: 400; font-size: 11pt; margin: 8px 0px; padding: 3px 20px; width: 70px; text-align: center; }*/

/*.ratio-hyp, .ratio-sel, .ratio-ast, .ratio-pro, .ratio-out { box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0px -4px 0px 0px; height: 45px; display: inline-block; transition: all ease 1s; -moz-transition: all ease 1s; opacity: 0.75; -moz-opacity: 0.75; }*/
/*.ratio-hyp:hover, .ratio-sel:hover, .ratio-ast:hover, .ratio-pro:hover, .ratio-out:hover { transition: all ease 1s; -moz-transition: all ease 1s; opacity: 1; -moz-opacity: 1; }*/


/*#cont_updates { border: 20px solid #0d0f15; background: #0d0f15; height: 40px; overflow: hidden; }*/
/*#cont_updates_inner { font-family: "Roboto Mono"; font-size: 7pt; color: #bbb; height: 40px; text-align: justify;}*/
/*#cont_updates_inner ul li b { color: #586c8e; }*/
/*#cont_updates_inner ul li { border-bottom: 10px solid #111419; }*/
